{% extends "menu.html" %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock scripts %}

{% block container %}


<div class="container">
  <h1 class="fw-bold">Reporte de ventas</h1>
  <h3 class="">{{ form.initial.region|upper }}</h3>
  <hr class="mb-5"/>

  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>El rango de fechas introducido es erroneo</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
  {%endif %}

  <form method="post" class="bg-white rounded-3 shadow-sm py-3 px-3">
    {% csrf_token %}
    <div class="d-flex flex-column flex-md-row gap-4">
      <div class="col-7 col-md-4 col-lg-3">
        <label class="form-label">Fecha de inicio</label>
        {{ form.start_date }}
      </div>
      <div class="col-7 col-md-4 col-lg-3">
        <label class="form-label">Fecha final</label>
        {{ form.end_date }}
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary" type="submit">Generar reporte</button>
    </div>
  </form>

  <div class="container-fluid mt-4 bg-white rounded-3 shadow-sm">
    <div class='row'>
      <div id='bar_chart'></div>
    </div>
  </div>

</div>

<script type="application/javascript">

  Highcharts.chart('bar_chart', {
    chart: {
      type: 'column'
    },
    title: {
      text: 'Reporte de ventas'
    },
    xAxis: {
      categories: {% if datos_formulario %}{{ datos_formulario.dates|safe}} {% else %} ['N/A'] {%endif%},
      crosshair: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Quetzales'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0"> <b>Q.{point.y:.1f}</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [
      {
        name: 'Ventas',
        showInLegend: false,
        colorByPoint: true,
        data: {% if datos_formulario %}{{ datos_formulario.totals|safe}} {% else %} [0] {%endif%},
      }
    ]
  });
</script>

{% endblock container %}
