<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administración de tecnologias</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap5 -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- scripts -->
    {% block scripts %}
    {% endblock %}

    <!-- css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="layout bg-light">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
